.aboutHead {
  text-indent: 3rem;
  font-family: journal;
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin: 3rem 15%;
  letter-spacing: 0.1rem;
  text-align: center;
}
.para {
  font-size: 1.6rem;
  text-indent: 4rem;
  padding: 0.7rem 10%;
  text-wrap: pretty;
}