.container {
  background-color: rgba(17, 17, 17, 0.842);
  padding: 3rem 5rem 2rem 5rem;
  border: 2px solid var(--color);
  border-radius: 7px;
  box-shadow: 5px 5px 11px black;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}
.label {
  display: block;
  font-size: 1.2rem;
  margin-top: 4rem;
}
.taskInput {
  width: 40rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background-color: var(--color);
  height: 3.5rem;
  margin-bottom: -1.5rem;
}
/* .taskInput:focus {
  border-right: 1px solid black;
} */
.submit {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.3rem 2rem;
  color: black;
  background-color: var(--color);
  border: 2px solid black;
  border-radius: 5px;
  height: 3.5rem;
  margin-bottom: -1.5rem;
}
.submit:hover,
.submit:focus {
  background-color: #2b5a2b;
  color: var(--color);
  font-weight: 500;
}
.taskUnit {
  padding: 0.2rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1.8rem 1.8rem;
  gap: 0px 7px;
}
.tasks {
  font-size: 1.4rem;
}
.edit {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../../assets/img/icons/edit-2-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 77%;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.664);
}
.edit:hover,
.edit:focus {
  background-color: #254292;
  outline: 2px solid black;
  background-image: url(../../assets/img/icons/edit-2-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 77%;
  box-shadow: 3px 3px 5px black;
}
.editInput {
  width: 40rem;
  padding: 0.2rem 1rem;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background-color: var(--color);
  height: 3rem;
}
.save {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.3rem auto;
  color: black;
  background-color: var(--color);
  border: 2px solid black;
  border-radius: 11px;
  height: 2.7rem;
  width: calc(3.6rem + 14px);
  margin-left: -2.9rem;
}
.save:hover,
.save:focus {
  background-color: #254292;
  color: var(--color);
  font-weight: 500;
  /* outline: none; */
}
.delete {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../../assets/img/icons/x-3-round-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 77%;
  border-radius: 11px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.664);
}
.delete:hover,
.delete:focus {
  background-color: #922525;
  outline: 2px solid black;
  background-image: url(../../assets/img/icons/x-3-round-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 77%;
  box-shadow: 3px 3px 5px black;
}
.inputError {
  text-align: center;
  color: #922525;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}
.exitEdit {
  width: 1.8rem;
  height: 1.8rem;
  font-family: var(--font-stack);
  font-size: 1.4rem;
  background-color: #00000000;
  transform: translate(-400%, 15%);
  opacity: 0.8;
  border-radius: 100px;
}
.exitEdit:focus {
  outline: none;
}
