@import url(./reset.css);
@import url(./assets/fonts/poppins.css);

@font-face {
  font-family: dechora;
  src: url(./assets/fonts/dechora-zone.woff2) format('woff2');
}
@font-face {
  font-family: journal;
  src: url(./assets/fonts/journal.woff2) format('woff2');
}
@font-face {
  font-family: aks;
  src: url(./assets/fonts/AksaramateeBold.woff2) format('woff2');
}
@font-face {
  font-family: aksItalic;
  src: url(./assets/fonts/AksaramateeBoldItalic.woff2) format('woff2');
}

#root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* variables */
  --font-stack: poppins, system-ui, Helvetica, sans-serif;
  --dechora-stack: dechora, system-ui, sans-serif;
  --journal-stack: journal, system-ui, sans-serif;
  --aks-stack: aks, system-ui, sans-serif;
  --aksItalic-stack: aksItalic, system-ui, sans-serif;
  /* site colors */
  --color: #ffffffde;
  --bcg: #141424;
  --red: #aa3633;
  --blue: #6495ed;
  --beige: #bd9a73;
  --beige-shadow: #836c528c;
  --bcgcol: #2c2d2d;
  --bcgcol2: #422f2f;
  --textcol: #fffeff;
  --dark: #1b1b1b;
  --invis: #00000000;
}

html {
  font-family: var(--font-stack);
  /* Avenir,  */
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color);
  background-color: var(--bcg);
  /* overflow-x: hidden; */
}

a {
  font-weight: 500;
  color: var(--red);
  text-decoration: none;
}
a:hover {
  color: var(--blue);
  text-decoration: underline;
}

body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
button {
  cursor: pointer;
}

.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .leaflet-container {
  width: 100%;
  height: 500px;
} */
.leaflet-popup-content {
  font-family: dechora, sans-serif;  /* Change font */
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.8rem;  /* Adjust font size */
  color: #000000;  /* Text color */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
